.idea/
.idea
auto-bgi.exe
go.sum
main.json
backups/**
Users/**
logs/**
menu/web/package-lock.json
dogFoodNum.txt
main.json
abgiUser.yaml
MihoyoBBSTools/**
MihoyoBBSTools.zip
ABGIConstant.go
.auto-bgi.exe.old
archive.db
*.toml
GameInfo.json
jt.jpg
logging.log
*.7z
build/**
menu/web/TEMP-OneLong.txt
.workflow/**
.main.json
internal/**
**/.vscode/**